@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bleeding-1{
        box-shadow: 0 0 0 100vmax #191919;
        clip-path: inset(0 -100vmax);
    }
    .bleeding-2{
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        clip-path: inset(0 -100vmax);
    }
    .bleeding-3{
        box-shadow: 0 0 0 100vmax hsl(0, 0%, 95%);
        clip-path: inset(0 -100vmax);
    }
}